<h1>エリア登録 search.html.erb</h1>
<p>Zipcode</p>
<%= @area.zipcode %>
<p>Prefcode</p>
<%= @area.prefcode %>
<p>Address1</p>
<%= @area.address1 %>
<p>Kana1</p>
<%=   @area.kana1 %>
<p>Address2</p>
<%=  @area.address2 %>
<p>Kana2</p>
<%=  @area.kana2 %>
<p>Address3</p>
<%=  @area.address3 %>
<p>Kana3</p>   
<%=  @area.kana3  %>
<%= form_with model: @area, local: true do |form| %>
  <p><%= form.text_area :introduction %></p>
  <%= form.submit "登録" %>
<% end %>