<h1>テスト</h1>
<%= @area.zipcode %>
<%= @area.address1 %>
<%= @area.address2 %>
<%= @area.address3 %>   
<%= @area.kana1 %>
<%= @area.kana2 %>
<%= @area.kana3  %>
<%= @area.introduction %>
<%= @area.prefcode %>
<%= @area.status %>